@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-xl {
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    }

    .clip-path-br {
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    .clip-path-br-85{
        clip-path: polygon(0 0, 100% 0 , 100% 85%,0 100%);
    }

    /*for fixing transform issue*/
    .back-face-hidden {
        backface-visibility: hidden;
    }

    /*for fixing showing animation before delay*/
    .animate-fill-backwards {
        animation-fill-mode: backwards;
    }

}

html {
    @apply text-[62.5%];
}


body {
    @apply font-lato text-[#777] font-normal leading-[1.7] ;
}

/*non tailwind sudo class (:non and even how) ,its a cool trick btw */
.composition:hover .composition__photo:not(:hover) {
    transform: scale(.93);
}

/*rotate y tours cards cause tailwind dosen't has rotate y*/
.tours-rotate {
    perspective:150rem;
    -moz-perspective: 150rem;
}

.tours-rotate:hover .tours-rotate__card__front{
    transform: rotateY(-180deg);
}

.tours-rotate__card__back{
    transform: rotateY(180deg);
}

.tours-rotate:hover .tours-rotate__card__back{
    transform: rotateY(0);
}